h2{
    text-align: center;
    border: 2px solid ;
    color: rgb(66, 116, 99);
}

h2:hover{
    color: rgb(133, 76, 6);
    background-color: antiquewhite;
}

h3:hover{
    color: rgb(133, 76, 6);
    background-color: antiquewhite;
    text-align: center;
}